
* {
  box-sizing: border-box;
  background-color: #d2dbdd;
}
.heading_nav{
  padding: 30px 0;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  text-transform: capitalize;
  text-align: center;
  font-family: "Raleway",sans-serif;
  background-color: azure;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cards {
  box-shadow: 0 5px 8px 0 rgba(234, 10, 10, 0.2);
  height:400px;
  width:300px;
  text-align: center;
  font-family: arial;
  margin-bottom: 100px;
  margin-top: 50px;
  border-radius: 0.5rem 0.5rem 0 0;
  float: left;
  margin-left: 150px;
   
}
.card {
margin-top: 10px;


}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #e75f5f;
  text-align: center;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
 
}

.card button:hover {
  opacity: 0.7;
}

.card_img{
  height:250px;
  width:200px;
  /* object-fit: fill */
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  aspect-ratio: 4/3;
  
}

